* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

:root {
    --text-primary-color: #1e2939;
    --text-secondary-color: #4a5565;
    --background-buttons-color: #e5e7eb;

    --background-buttons-color-rgb: rgb(229, 231, 235, 0.3);

    --background-dark-color: #003159;

    --form-button-color: #00a6f4;

    --highlight-text: #ff6900;

    --purple-700: #6e11b0;
    --accent-color: #ad46ff;
    --secondary-accent-color: #dab2ff;

    --success-alert-background: #dcfce7;
    --success-alert-border: #008235;
    --success-alert-text: #026630;

    --success-alert-background-rgb: rgb(220, 252, 231, 0.5);

    --error-alert-text: #460809;
    --error-alert-background: rgb(193, 0, 7, 0.3);

    /* --gray-rgb: rgb(74, 85, 101, 0.3); */

    --font-title: 'Ubuntu', sans-serif;
    --font-text: 'Inter', sans-serif;
}

body {
    background: linear-gradient(135deg, var(--background-buttons-color), var(--purple-700));
    /* overflow-x: hidden; */
}

main {
    padding: 2rem 9rem;
}

section {
    width: 100%;
    padding: 6rem 0rem;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

img {
    width: 50px;
}

.nav-bar-header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    margin-top: 0.5rem;
}

.nav-bar-header .nav-bar{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    gap: 2rem;    
    background: rgba(var(--background-buttons-color));
    backdrop-filter: blur(10px);
    border: 1px solid var(--text-secondary-color);
    border-radius: 5rem;
}

.nav-bar-header .nav-bar .nav-links {
    text-decoration: none;
    color: var(--text-secondary-color);
    transition: all 0.2s;
}

<<<<<<< HEAD
header nav a:hover {
    color: var(--accent-color);
=======
.nav-bar-header .nav-bar .nav-links:hover {
    color: var(--sky-500);
>>>>>>> 4-css-classes
}

/* Sección presentación general. */
section.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* padding: 0rem 9rem; */
    gap: 1rem;
}

.presentation .presentation-photo {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 0rem;
}

<<<<<<< HEAD
.presentation-photo img {
=======
.presentacion-foto .profile-photo {
>>>>>>> 4-css-classes
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

<<<<<<< HEAD
.presentation-photo a {
=======
.presentacion-foto .available-banner {
>>>>>>> 4-css-classes
    text-decoration: none;
    font-size: 13px;
    color: var(--success-alert-text);
    padding: 5px;
    border-radius: 20px;
    background-color: var(--success-alert-background);
    border: 1.5px solid var(--success-alert-border);
}

<<<<<<< HEAD
.presentation h1 {
=======
.presentacion .personal-name {
>>>>>>> 4-css-classes
    font-family: var(--font-title);
    font-size: 37px;
}

<<<<<<< HEAD
.presentation p {
=======
.presentacion .presentation-text {
>>>>>>> 4-css-classes
    width: 700px;
    overflow-wrap: break-word;
    font-size: 17px;
}

.presentation .presentation-btns {
    display: flex;
    gap: 1rem;
}

.presentation .presentation-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--background-buttons-color);
    border-radius: 20px;
    border: 1.5px solid var(--accent-color);
    transition: all 0.2s;
}

.presentation .presentation-contact:hover {
    cursor: pointer;
    background-color: var(--secondary-accent-color);
    /* border: 1.5px solid var(--text-primary-color); */
}

<<<<<<< HEAD
.presentation .presentation-contact a {
=======
.presentacion .presentacion-contacto .presentation-contact-btn {
>>>>>>> 4-css-classes
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: 500;
}

<<<<<<< HEAD
.presentation .presentation-contact svg {
=======
.presentacion .presentacion-contacto .presentation-contact-svg {
>>>>>>> 4-css-classes
    width: 25px;
    height: 25px;
}

/* Secciones secundarias - estilos generales. */
.section-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 3rem;
}

<<<<<<< HEAD
.section-title svg {
=======
.seccion-titulo .section-icon {
>>>>>>> 4-css-classes
    width: 37px;
    height: 37px;
}

<<<<<<< HEAD
.section-title h2 {
=======
.seccion-titulo .section-title-h2 {
>>>>>>> 4-css-classes
    font-family: var(--font-title);
}

/* Sección experiencia laboral. */
.experience-card {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 4rem;
    margin-top: 4rem;
    align-items: start;
    justify-content: center;
    padding: 0rem 4rem;
}

.experience-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.experience-menu li button {
=======
.experiencia-menu .experience-item .experience-company {
>>>>>>> 4-css-classes
    width: 200px;
    background: none;
    border: none;
    font-size: 17px;
    overflow-wrap: break-word;
    text-transform: uppercase;
    padding: 1.5rem 0rem 1.5rem 0.25rem;
    display: flex;
    align-items: start;
    border-radius: 5px;
}

<<<<<<< HEAD
.experiencia-menu li button:hover {
    border-right: 4px solid var(--accent-color);
    background-color: var(--background-buttons-color-rgb);
    cursor: pointer;
}

.experiencia-menu li button:focus {
    border-right: 4px solid var(--accent-color);
    background-color: var(--background-buttons-color-rgb);
=======
.experiencia-menu .experience-item .experience-company:hover {
    border-right: 4px solid var(--purple-500);
    background-color: var(--gray-100-rgb);
    cursor: pointer;
}

.experiencia-menu .experience-item .experience-company:focus {
    border-right: 4px solid var(--purple-500);
    background-color: var(--gray-100-rgb);
>>>>>>> 4-css-classes
}

.job-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* padding-left: 25px; */
}

.job-title {
    margin-bottom: 0.75rem;
}

<<<<<<< HEAD
.job-title h2 {
=======
.trabajo-titulo .company-title {
>>>>>>> 4-css-classes
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-family: var(--font-title);
    color: var(--text-primary-color);
    /* font-size: 27px; */
}

<<<<<<< HEAD
.job-title p {
=======
.trabajo-titulo .company-working-years {
>>>>>>> 4-css-classes
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
}

<<<<<<< HEAD
.job-data h4 {
    color: var(--purple-700);
}

.job-data p {
=======
.trabajo-informacion .job-role {
    color: var(--purple-700);
}

.trabajo-informacion .job-role-description {
>>>>>>> 4-css-classes
    font-size: 17px;
    color: var(--text-primary-color);
}

.job-footer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

<<<<<<< HEAD
.job-footer a {
=======
.trabajo-footer .company-link, 
.trabajo-footer .company-mail {
>>>>>>> 4-css-classes
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--background-buttons-color);
    border-radius: 10px;
    border: 1.5px solid var(--accent-color);
    color: var(--text-primary-color);
    transition: all 0.2s;
}

<<<<<<< HEAD
.trabajo-footer a:hover {
    background-color: var(--secondary-accent-color);
=======
.trabajo-footer .company-link:hover,
.trabajo-footer .company-mail:hover {
    background-color: var(--purple-300);
>>>>>>> 4-css-classes
}

/* Sección habilidades. */
#skills {
    padding-bottom: 0rem;
}

.skills-content {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

<<<<<<< HEAD
.skills-content div {
=======
.habilidades-contenido .skills-languages {
>>>>>>> 4-css-classes
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background-buttons-color-rgb);
    border: 1.5px solid var(--background-buttons-color);
    transition: all 0.2s;
}

<<<<<<< HEAD
.skills-content div:hover {
    transform: translateY(-8px);
}

.skills-content div svg {
=======
.habilidades-contenido .skills-languages:hover {
    transform: translateY(-8px);
}

.habilidades-contenido .skills-languages .language-icon {
>>>>>>> 4-css-classes
    width: 40px;
    height: 40px;
}

<<<<<<< HEAD
.skills-content div {
=======
.habilidades-contenido .skills-languages {
>>>>>>> 4-css-classes
    font-size: 17px;
}

/* Sección proyectos. */
#projects {
    padding-bottom: 0rem;
}
.project {
    display: grid;
    grid-template-columns: 450px 1fr;
    align-items: start;
    gap: 2.5rem;
}

<<<<<<< HEAD
.project img {
=======
.proyecto .project-preview-image {
>>>>>>> 4-css-classes
    width: 450px;
    height: auto;
    border-radius: 10px;
}

.project-description {
    margin-bottom: 5rem;
}

<<<<<<< HEAD
.project-description h4{
=======
.proyecto-desc .project-title{
>>>>>>> 4-css-classes
    margin-bottom: 1.5rem;
}

.project-description .project-languages {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}

<<<<<<< HEAD
.project-languages li {
=======
.proyecto-lenguajes .project-language-item {
>>>>>>> 4-css-classes
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 20px 5px 5px;
    gap: 0.5rem;
    background-color: var(--purple-700);
    color: var(--background-buttons-color);
    border-radius: 20px;
    font-size: 0.875rem;
}

<<<<<<< HEAD
.project-languages li svg{
=======
.proyecto-lenguajes .project-language-item .project-language-icon {
>>>>>>> 4-css-classes
    width: 20px;
    height: 20px;
}

<<<<<<< HEAD
.proyecto-desc p {
    color: var(--text-primary-color);
=======
.proyecto-desc .project-description-text {
    color: var(--gray-800);
>>>>>>> 4-css-classes
    margin-bottom: 1.75rem;
}

.project-data {
    display: flex;
    gap: 1rem;
}

<<<<<<< HEAD
.project-data svg {
=======
.proyecto-info .project-link-icon {
>>>>>>> 4-css-classes
    width: 25px;
    height: 25px;
}

<<<<<<< HEAD
.project-data a {
=======
.proyecto-info .project-link {
>>>>>>> 4-css-classes
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--background-buttons-color);
    border-radius: 10px;
    border: 1.5px solid var(--accent-color);
    color: var(--text-primary-color);
    transition: all 0.2s;
}

<<<<<<< HEAD
.proyecto-info a:hover {
    background-color: var(--secondary-accent-color);
=======
.proyecto-info .project-link:hover {
    background-color: var(--purple-300);
>>>>>>> 4-css-classes
}

/* Sección contacto */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 400px;
    background-color: var(--dark-800);
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

<<<<<<< HEAD
.contact-form form {
=======
.contacto-form .message-form {
>>>>>>> 4-css-classes
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

<<<<<<< HEAD
.contact-form form input,
.contact-form form textarea {
=======
.contacto-form .message-form .form-input,
.contacto-form .message-form .form-textarea {
>>>>>>> 4-css-classes
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--purple-700);
    background-color: var(--background-buttons-color);
    color: var(--grey-600);
    font-size: 15px;
    outline: none;
}

<<<<<<< HEAD
.contact-form form input:focus,
.contact-form form textarea:focus {
    outline: 2px solid var(--purple-700);
}

.contact-form form button {
=======
.contacto-form .message-form .form-input:focus,
.contacto-form .message-form .form-textarea:focus {
    outline: 2px solid var(--purple-700);
}

.contacto-form .message-form .form-submit-btn {
>>>>>>> 4-css-classes
    padding: 0.5rem 0.75rem;
    background: linear-gradient(135deg, var(--purple-700), var(--form-button-color));
    border-radius: 10px;
    border: none;
    color: var(--background-buttons-color);
    font-size: 1.2rem;
    transition: all 0.2s;
}

<<<<<<< HEAD
.contact-form form button:hover {
=======
.contacto-form .message-form .form-submit-btn:hover {
>>>>>>> 4-css-classes
    transform: translateY(-1px);
    box-shadow: 0 6px 20px rgba(154, 58, 228, 0.4);
    cursor: pointer;
}

<<<<<<< HEAD
.contacto-form form .error-message {
    background-color: var(--error-alert-background);
=======
.contacto-form .message-form .error-message {
    background-color: var(--red-700-rgb);
>>>>>>> 4-css-classes
    border-radius: 10px;
    color: var(--error-alert-text);
    padding: 5px;
}

.contact-form .success-message {
    font-size: 13px;
    color: var(--success-alert-text);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--success-alert-background);
    border: 1.5px solid var(--success-alert-border);
}

/* Footer */
.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--text-primary-color);
    color: var(--background-buttons-color);
}

/* Propiedades responsive */
@media (max-width: 1024px) {
    main {
        padding: 2rem 3rem;
    }

    section {
        padding: 4rem 1.5rem;
    }

    header nav {
        width: 95%;
        margin: 0.5rem auto;
        gap: 1rem;
        padding: 0.6rem;
    }

    .presentation p {
        width: 100%;
        font-size: 16px;
    }

    .presentation h1 {
        font-size: 2.4rem;
    }

    .presentation-photo {
        gap: 1rem;
    }

    .presentation-photo img {
        width: 90px;
        height: 90px;
    }

    .experience-card {
        display: block;
        padding: 0 0.5rem;
    }

    .experience-menu {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 0.5rem;
        margin-bottom: 1rem;
        background-color: var(--background-buttons-color);

        border-radius: 10px;
    }

    .experience-menu li button {
        min-width: 120px;
        padding: 1rem 0.75rem;
        font-size: 0.95rem;
    }

    .experiencia-menu li button:focus {
        background-color: var(--secondary-accent-color);

        border: none;
    }

    .job-title h2 {
        font-size: 1.25rem;
    }

    .project {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }

    .project img {
        width: 100%;
        max-width: 100%;
    }

    .contact-form {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(135deg, var(--background-buttons-color), var(--purple-700));

    }

    main {
        padding: 1rem;
    }

    header {
        display: none;
    }

    .presentation {
        align-items: center;
        text-align: center;
    }

    .presentation-photo {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .presentation h1 {
        font-size: 2rem;
    }

    .presentation p {
        width: 100%;
        font-size: 15px;
    }

    .presentation .presentation-btns {
        flex-direction: column;
        width: 100%;
    }

    .presentation .presentation-contact {
        width: 100%;
        justify-content: center;
    }

    .skills-content {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .project-data,
    .job-footer {
        flex-direction: column;
        align-items: stretch;
    }

    .project-languages {
        flex-wrap: wrap;
    }

    .contact-form {
        box-shadow: none;
        border: 1px solid rgba(0,0,0,0.1);
    }

    .contact-form form input,
    .contact-form form textarea {
        font-size: 14px;
    }

    .contact-form form button {
        font-size: 1rem;
    }
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}